<div class="jumbotron">

  <h1>Hello Bruce!</h1>

  <p>
    Today is a nice day, Branches are an essential part of collaborating using GitHub Flow. And it's now easier than ever to browse a repository's branches on your phone.
    Using the new dropdown, you can access the recently active branches for a project or browse through all of its branches.
  </p>

  <%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %>

</div>